<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Config</title>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen flex items-center justify-center bg-gray-900 text-white p-6">
    <div class="w-full max-w-lg bg-gray-800 p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-semibold text-center mb-4">Konfigurasi</h2>

      <div>
        <label class="flex items-center space-x-2 cursor-pointer my-5">
          <input type="checkbox" id="testing-mode" class="w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring focus:ring-blue-200" />
          <span class="text-gray-500 font-medium">Disable send button</span>
        </label>
      </div>

      <div class="mb-4">
        <label for="cookieInput" class="block text-sm font-medium text-gray-300 mb-1">Cookie:</label>
        <textarea id="cookieInput" placeholder="Masukkan cookie di sini..." class="w-full h-24 p-3 bg-gray-700 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-purple-500"></textarea>
      </div>

      <div class="mb-4">
        <label for="userAgentInput" class="block text-sm font-medium text-gray-300 mb-1">User-Agent:</label>
        <textarea id="userAgentInput" placeholder="Masukkan user-agent di sini..." class="w-full h-16 p-3 bg-gray-700 rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-purple-500"></textarea>
      </div>

      <div class="my-5">
        <span class="text-s">Database Connection:</span>

        <div class="flex flex-col">
          <div class="flex justify-between my-1">
            <label for="db-url">DB URL</label>
            <input id="db-url" name="db-url" type="text" class="max-w-[70%] bg-gray-500 rounded-sm" />
          </div>
        </div>
      </div>

      <div class="w-full px-4 py-6 bg-gray-800 text-white rounded-lg shadow-md">
        <h3 class="text-lg font-semibold mb-4 justify-self-center">Coordinate Setting</h3>

        <div class="my-5">
          <div class="w-full flex gap-3 justify-center items-center">
            <button class="w-1/2 px-3 py-2 bg-yellow-600 rounded-lg text-sm" id="start-tracking" onclick="startTracking()">Start Tracking</button>
            <button class="w-1/2 px-3 py-2 bg-yellow-700 rounded-lg text-sm" id="stop-tracking" onclick="stopTracking()">Stop Tracking</button>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-6">
          <!-- Total pesanan -->
          <div class="w-full">
            <span class="block font-medium mb-2 w-full">Box Total Pesanan</span>
            <div class="grid grid-cols-2 gap-3 my-2">
              <div class="flex items-center gap-1">
                <label for="total-pesanan-x" class="w-6">X</label>
                <input id="total-pesanan-x" name="total-pesanan-x" type="number" class="w-full py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-purple-500" />
              </div>
              <div class="flex items-center gap-1">
                <label for="total-pesanan-y" class="w-6">Y</label>
                <input id="total-pesanan-y" name="total-pesanan-y" type="number" class="w-full py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-purple-500" />
              </div>
            </div>
            <div class="grid grid-cols-2 gap-3 my-2">
              <div class="flex items-center gap-1">
                <label for="total-pesanan-p" class="w-6">P</label>
                <input id="total-pesanan-p" name="total-pesanan-p" type="number" class="w-full py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-purple-500" />
              </div>
              <div class="flex items-center gap-1">
                <label for="total-pesanan-l" class="w-6">L</label>
                <input id="total-pesanan-l" name="total-pesanan-l" type="number" class="w-full py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-purple-500" />
              </div>
            </div>

            <div class="shadow-lg rounded-lg w-full dark:bg-gray-900 my-5">
              <label for="item-template" class="block text-lg font-semibold text-gray-300 dark:text-gray-200 mb-2 text-center"> Template Item </label>

              <textarea
                id="item-template"
                name="item-template"
                class="w-full bg-gray-500 dark:bg-gray-800 text-gray-100 dark:text-gray-200 p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 h-40"
                placeholder="Masukkan template pesan..."
              ></textarea>

              <label for="message-template" class="block text-lg font-semibold text-gray-300 dark:text-gray-200 mb-2 text-center"> Template Pesan </label>

              <textarea
                id="message-template"
                name="message-template"
                class="w-full bg-gray-500 dark:bg-gray-800 text-gray-100 dark:text-gray-200 p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 h-40"
                placeholder="Masukkan template pesan..."
              ></textarea>

              <p class="bg-gray-500 mt-2 text-sm text-gray-100 dark:text-gray-400 italic">
                Note: <br />
                <code class="text-black text-sm">
                  {{ items }} digunakan untuk menampilkan informasi pesanan
                  <br />
                  <br />
                  contoh:
                  <br />
                  Terima kasih sudah berbelanja 😊
                  <br />
                  <br />
                  Berikut ini adalah pesanan Anda:
                  <br />
                  1. SmartPLS
                  <br />
                  - Lisensi: GULUSMV1BPEJBF4B
                  <br />
                  - Link: download pls
                  <br />
                  2. PPT
                  <br />
                  - Lisensi: -
                  <br />
                  - Link: download
                  <br />
                  <br />
                  Silakan gunakan lisensi sesuai dengan petunjuk yang diberikan
                </code>
              </p>
            </div>
          </div>
        </div>
      </div>

      <button id="saveButton" class="w-full bg-green-600 hover:bg-green-700 transition px-4 py-2 rounded-lg font-medium shadow-lg">Simpan</button>
    </div>

    <script>
      const cookieValue = document.getElementById("cookieInput");
      const userAgentValue = document.getElementById("userAgentInput");
      const testingMode = document.getElementById("testing-mode");
      const messageTemplate = document.getElementById("message-template");
      const itemTemplate = document.getElementById("item-template");

      const dbURL = document.getElementById("db-url");

      const totalPesananX = document.getElementById("total-pesanan-x");
      const totalPesananY = document.getElementById("total-pesanan-y");
      const totalPesananP = document.getElementById("total-pesanan-p");
      const totalPesananL = document.getElementById("total-pesanan-l");

      async function loadConfig() {
        const config = await window.electronAPI.loadConfig();

        cookieValue.value = config.raw_cookies || "";
        userAgentValue.value = config.user_agent || "";
        testingMode.checked = config.testing_mode || false;
        messageTemplate.value = config.message_template || "";
        itemTemplate.value = config.item_template || "";
        dbURL.value = config.db_url || "";

        const totalPesanan = config.total_pesanan || {};
        totalPesananX.value = totalPesanan.total_pesanan_x || "";
        totalPesananY.value = totalPesanan.total_pesanan_y || "";
        totalPesananP.value = totalPesanan.total_pesanan_p || "";
        totalPesananL.value = totalPesanan.total_pesanan_l || "";
      }

      loadConfig();

      function startTracking() {
        window.electronAPI.startTracking();
      }
      function stopTracking() {
        window.electronAPI.stopTracking();
      }

      document.getElementById("testing-mode").addEventListener("change", (event) => {
        event.target.checked;
      });

      document.getElementById("saveButton").addEventListener("click", () => {
        const configData = {
          raw_cookies: cookieValue.value.trim(),
          user_agent: userAgentValue.value.trim(),
          total_pesanan: {},
          db_url: dbURL.value.trim(),
          testing_mode: testingMode.checked,
          message_template: messageTemplate.value.trim(),
          item_template: itemTemplate.value.trim(),
        };

        const totalPesananKeys = ["total_pesanan_x", "total_pesanan_y", "total_pesanan_p", "total_pesanan_l"];

        totalPesananKeys.forEach((key) => {
          const element = document.getElementById(key.replace(/_/g, "-"));
          if (element.value.trim()) {
            configData.total_pesanan[key] = element.value.trim();
          }
        });

        window.electronAPI.saveConfig(configData);
        alert("Konfigurasi berhasil disimpan!");
      });
    </script>
  </body>
</html>
